<mat-card>
    <mat-card-title>Formulário de Agendamento</mat-card-title>
    <form>
        <div class="row1">
            <mat-form-field>
                <mat-label>Id do cliente</mat-label>
                <input matInput placeholder="Id do cliente" [(ngModel)]="agendamentoDTO.clienteId" name="clienteId" type="number" min="1">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Id do médico</mat-label>
                <input matInput placeholder="Id do médico" [(ngModel)]="agendamentoDTO.medicoId" name="medicoId" type="number" min="1">
            </mat-form-field>
        </div>

        <div class="row2">
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [(value)]="agendamentoDTO.status">
                    <mat-option value="ABER">Aberta</mat-option>
                    <mat-option value="ATEN">Atendida</mat-option>
                    <mat-option value="CANC">Cancelada</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Valor da consulta</mat-label>
                <input matInput placeholder="Valor da consulta" [(ngModel)]="agendamentoDTO.valor" name="valor">
            </mat-form-field>
        </div>

        <div class="row3">
            <mat-form-field>
                <mat-label>Data de abertura</mat-label>
                <input matInput placeholder="Data de abertura" [(ngModel)]="agendamentoDTO.dataAbertura" type="datetime-local"
                    name="dataAbertura">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Data da consulta</mat-label>
                <input matInput placeholder="Data da consulta" [(ngModel)]="agendamentoDTO.dataConsulta" type="datetime-local"
                    name="dataConsulta">
            </mat-form-field>
        </div>
    </form>

    <div class="buttons">
        <button mat-raised-button (click)="save()">
            Salvar
        </button>

        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>

</mat-card>