<mat-card>
  <mat-card-title>Deletar cliente</mat-card-title>
  <form [formGroup]="clienteFormGroup">
    <div class="cliente-cadastro">
      <div formGroupName="pessoa">
        <div class="row1">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" id="nome" formControlName="nome" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input matInput placeholder="Data de Nascimento" type="datetime-local" id="dataNascimento"
              formControlName="dataNascimento" readonly  />
          </mat-form-field>
        </div>

        <div class="row2">
          <mat-form-field>
            <mat-label>Sexo</mat-label>
            <input matInput placeholder="sexo" id="sexo" formControlName="sexo" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput placeholder="CPF" id="cpf" formControlName="cpf" readonly />
          </mat-form-field>
        </div>

        <div class="row3">
          <mat-form-field>
            <mat-label>Altura</mat-label>
            <input matInput placeholder="Altura" id="altura" formControlName="altura" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Peso</mat-label>
            <input matInput placeholder="Peso" id="peso" formControlName="peso" readonly />
          </mat-form-field>
        </div>
      </div>

      <div class="row4">
        <mat-form-field>
          <mat-label>Data de criação</mat-label>
          <input matInput id="dataCriacao" type="datetime-local" placeholder="Data de Criação"
            formControlName="dataCriacao" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data de exclusão</mat-label>
          <input matInput id="Data de exclusão" type="datetime-local" placeholder="Data de Exclusão"
            formControlName="dataExclusao" readonly />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="buttons">
    <button mat-raised-button (click)="deleteCliente()">
      Deletar
    </button>
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </div>

</mat-card>