.sidenav {
    background-color: #8C914E;
}

.sidenav i{
    color: #000;
}

.sidenav a:hover,
.sidenav a.active{
background-color: #FAFFBD;
}

.content {
    background-color: #FAFFBD;
    padding: 1rem;
}