mat-sidenav-container {
    background-color: #8C914E;
}

html{
    margin-top:0;
    padding-top:0;
}
body{
    margin-top:0;
    padding-top:0;
}

.sidenav {
    background-color: #8C914E;
}

.sidenav i{
    color: #000;
}

.sidenav a:hover,
.sidenav a.active{
background-color: #FAFFBD;
}

.content {
    background-color: #FAFFBD;
    padding: 1rem;
}