@import './../abstracts/variables';

mat-sidenav-container {
    background-color: $quartenary-color;
}


.sidenav {
    background-color: $quartenary-color;

    i {
        color: $senary-color;
    }

    a:hover,
    a.active {
        background-color: $tertiary-color;
        border-radius: 10px;
    }
}

.content {
    background-color: $tertiary-color;
    padding: 1rem;
}