<mat-card>
    <mat-card-title>Deletar especialidade médico</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Id do médico" [(ngModel)]="especialidadeMedicoDTO.medicoId" name="medicoId" readonly>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Id da Especialidade" [(ngModel)]="especialidadeMedicoDTO.especialidadeId" name="especialidadeId" readonly>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button (click)="deleteEspecialidadeMedico()">
            Deletar
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>