<mat-card>
    <mat-card-title>Alterar especialidade</mat-card-title>
    <form #f="ngForm">
        <mat-form-field id="nome">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" [(ngModel)]="especialidade.nome" name="nome"required>
        </mat-form-field>
        <mat-form-field id="descricao">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Descrição" [(ngModel)]="especialidade.descricao" name="descricao" required></textarea>
        </mat-form-field>
    </form>
    <div class="submit-buttons">
        <button class="btn-save" [disabled]="!f.valid" mat-raised-button (click)="save()">
            Salvar
        </button>

        <button class="btn-cancel" mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>