<mat-card>
  <mat-card-title>Novo cliente</mat-card-title>
  <form [formGroup]="clienteFormGroup">
    <div class="cliente-cadastro">
      <div formGroupName="pessoa">
        <div class="row1">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" id="nome" formControlName="nome" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input matInput placeholder="Data de Nascimento" type="datetime-local" id="dataNascimento"
              formControlName="dataNascimento" required />
          </mat-form-field>
        </div>

        <div class="row2">
          <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo" required>
              <mat-option value="FEM">Feminino</mat-option>
              <mat-option value="MASC">Masculino</mat-option>
              <mat-option value="INDEF">Indefinido</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput placeholder="CPF" id="cpf" formControlName="cpf" required />
          </mat-form-field>
        </div>

        <div class="row3">
          <mat-form-field>
            <mat-label>Altura</mat-label>
            <input matInput placeholder="Altura" id="altura" formControlName="altura" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Peso</mat-label>
            <input matInput placeholder="Peso" id="peso" formControlName="peso" required />
          </mat-form-field>
        </div>
      </div>

      <div class="row4">
        <mat-form-field>
          <mat-label>Data de criação</mat-label>
          <input matInput id="dataCriacao" type="datetime-local" placeholder="Data de Criação"
            formControlName="dataCriacao" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data de exclusão</mat-label>
          <input matInput id="Data de exclusão" type="datetime-local" placeholder="Data de Exclusão"
            formControlName="dataExclusao" />
        </mat-form-field>
      </div>



      <div class="array-telefone">
        <div formArrayName="telefones">
          <ng-container *ngFor="let item of telefone.controls; let indiceTelefone = index">
            <div [formGroupName]="indiceTelefone">
              <mat-form-field>
                <mat-label>Telefone</mat-label>
                <input #input matInput type="tel" formControlName="numero" />
              </mat-form-field>
            </div>
          </ng-container>
          <ng-container *ngIf="telefone.controls.length === 0">
          </ng-container>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input #input matInput type="text" placeholder="(00)00000-0000" required />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Inclua o DDD </mat-hint>
      </mat-form-field>
      <button mat-raised-button (click)="adicionarAoArray(input.value)">Adicionar</button>

      <div class="array-email">
        <div formArrayName="emails">
          <ng-container *ngFor="let item of email.controls; let indiceEmail = index">
            <div [formGroupName]="indiceEmail">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="endereco" />
              </mat-form-field>
            </div>
          </ng-container>
          <ng-container *ngIf="email.controls.length === 0">
          </ng-container>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input #inputEmail matInput type="email" placeholder="janedoe@email.com"/>
      </mat-form-field>
      <button mat-raised-button (click)="adicionarAoArrayEmail(inputEmail.value)">Adicionar</button>

    </div>
  </form>
  <div class="buttons">
    <button mat-raised-button (click)="save()">
      Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </div>

</mat-card>