<mat-card>
    <mat-card-title>Novo agendamento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Id do cliente" [(ngModel)]="agendamentoDTO.clienteId" name="clienteId">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Id do médico" [(ngModel)]="agendamentoDTO.medicoId" name="medicoId">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status da consulta" [(ngModel)]="agendamentoDTO.status" name="status">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor da consulta" [(ngModel)]="agendamentoDTO.valor" name="valor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de abertura" [(ngModel)]="agendamentoDTO.dataAbertura" name="dataAbertura">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data da consulta" [(ngModel)]="agendamentoDTO.dataConsulta" name="dataConsulta">
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button (click)="createAgendamento()">
            Salvar
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>

