<div class="mat-elevation-z4">
    <table mat-table [dataSource]="especialidadesMedicos">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="medicoId">
        <th mat-header-cell *matHeaderCellDef>Id Médico</th>
        <td mat-cell *matCellDef="let row">{{row.medicoId}}</td>
      </ng-container>

      <!--Description Column-->
      <ng-container matColumnDef="especialidadeId">
        <th mat-header-cell *matHeaderCellDef>Id Especialidade</th>
        <td mat-cell *matCellDef="let row">{{row.especialidadeId}}</td>
      </ng-container>
  
       <!--Action Column-->
       <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/especialidade-medico/delete/{{ row.id }}">
            <i class="material-icons">
              delete
            </i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>