<mat-card>
    <mat-card-title>Editar cliente</mat-card-title>
    <form [formGroup]="clienteFormGroup">
      <div class="cliente-cadastro">
        <div formGroupName="pessoa">
          <mat-form-field>
            <input matInput placeholder="Nome" id="nome" formControlName="nome"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Data de Nascimento" id="dataNascimento" formControlName="dataNascimento"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Sexo" id="sexo" formControlName="sexo"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="CPF" id="cpf" formControlName="cpf"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Altura" id="altura" formControlName="altura"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Peso" id="peso" formControlName="peso"/>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input matInput id="id" placeholder="Id Cliente" formControlName="id"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput id="dataCriacao" placeholder="Data de Criação" formControlName="dataCriacao"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput id="Data de exclusão" placeholder="Data de Exclusão" formControlName="dataExclusao"/>
        </mat-form-field>
  
        <div class="array-telefone">
          <div formArrayName="telefones">
            <ng-container *ngFor="let item of telefone.controls; let indiceTelefone = index">
              <div [formGroupName]="indiceTelefone" >
                <input matInput id="numero" formControlName="numero"/>
              </div>
            </ng-container>
            <ng-container *ngIf="telefone.controls.length === 0">
            </ng-container>
          </div>
        </div>
        <mat-form-field>
          <input #input matInput type="text" placeholder="Telefone"/>
        </mat-form-field>
        <button mat-raised-button (click)="adicionarAoArray(input.value)">Adicionar</button>
  
        <div class="array-email">
          <div formArrayName="emails">
            <ng-container *ngFor="let item of email.controls; let indiceEmail = index">
              <div [formGroupName]="indiceEmail">
                <input formControlName="endereco" />
              </div>
            </ng-container>
            <ng-container *ngIf="email.controls.length === 0">
            </ng-container>
          </div>
        </div>
        <mat-form-field>
        <input #inputEmail matInput type="text" placeholder="Email"/>
        </mat-form-field>
        <button mat-raised-button (click)="adicionarAoArrayEmail(inputEmail.value)">Adicionar</button>
  
      </div>
    </form>
    <div class="buttons">
      <button mat-raised-button (click)="updateCliente()">
        Salvar
      </button>
      <button mat-raised-button (click)="cancel()">
        Cancelar
      </button>
    </div>
  
  </mat-card>