<mat-card>
    <mat-card-title>Nova especialidade médico</mat-card-title>
    <form #f="ngForm">
        <mat-form-field>
            <mat-label>Id do médico</mat-label>
            <input matInput placeholder="Id do médico" [(ngModel)]="especialidadeMedicoDTO.medicoId" name="medicoId"
                type="number" min="1" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Id da especialidade</mat-label>
            <input matInput placeholder="Id da Especialidade" [(ngModel)]="especialidadeMedicoDTO.especialidadeId"
                name="especialdiadeId" type="number" min="1" required>
        </mat-form-field>
    </form>
    <div class="submit-buttons">
        <button class="btn-save" [disabled]="!f.valid" mat-raised-button (click)="createEspecialidadeMedico()">
            Salvar
        </button>

        <button class="btn-cancel" mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>