mat-card {
    padding: 1rem;
    background-color: #ffd57b;
    margin-bottom: 1rem;
}

.cliente-search {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

mat-form-field {
    padding: 0.5rem;
    width: 25rem;
    height: 5rem;
}

mat-card-title {
    text-align: left;
    margin-left: 1rem;
}

img {
    height: 7rem;
    float: right;
}

.material-icons {
    color: #de5239;
}

.buttons button {
    margin-left: 1rem;
    background-color: #ff9441;
}

.mat-elevation-z4 {
    background-color: #ff9441;
}

.mat-elevation-z4 {
    background-color: #ff9441;
}

.mat-elevation-z4 table {
    background-color: #ffad52;
}

.mat-elevation-z4 table th{
    background-color: #ff9441;
}

mat-paginator {
    background-color: #ff9441;
}